/*$mskcc-blue: #007CBA;
$mskcc-orange:#DF4602;
$mskcc-dark-blue:#006098;
$mskcc-medium-blue:#40B4E5;
$mskcc-light-blue:#8FC7E8;
$mskcc-dark-orange:#C24D00;
$mskcc-medium-orange:#F29934;
$mskcc-light-orange:#F6C65B;
$mskcc-dark-violet:#83276B;
$mskcc-light-violet:#B687B8;
$mskcc-dark-magenta:#E92076;
$mskcc-light-magenta:#EFB3CB;
$mskcc-red:#B1132D;
$mskcc-dark-green:#4C8B2B;
$mskcc-light-green:#A6CE39;
$mskcc-dark-turquoise:#006C68;
$mskcc-light-turquoise:#009490;
$mskcc-dark-yellow:#FFC20E;
$mskcc-light-yellow:#FFE100;
$mskcc-dark-gray:#9E9E98;
$mskcc-light-gray:#D5D4C7;*/


body {
    padding-top: 50px;
}

table {
    font-size: 0.8em;
}
.top-pad {
    padding: 40px 15px;
    /*text-align: center;*/
}

.groups {
    text-align: left;
}

.main-container {
    width: 90vw;
    margin: 0 auto;
    margin-top: 5em;

}
