body {
    padding-top: 50px;
}

table {
    font-size: 0.8em;
}
.top-pad {
    padding: 40px 15px;
    /*text-align: center;*/
}

.groups {
    text-align: left;
}

.main-container {
    width: 90vw;
    margin: 0 auto;
    margin-top: 5em;
}
