{% extends 'base.html' %}
{% block container %}
    
        <h1>WES Dashboard</h1>
        
          {% for id in ids %}
                {# <h3>{{id}}</h3> #}
                <span id="{{id}}"></span>
            {% endfor %}
        <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {
        Plotly.plot(ids[i], // the ID of the div, created above
        graphs[i].data,
        graphs[i].layout || {grid: {rows: 1, columns: 2, pattern: 'independent'},});
        }
        </script>
{% endblock %}