{% extends 'base.html' %}
{% block container %}
    <h1>WES Dashboard</h1>
    <div class='row'>
    <div class="dashboard">
        {% for id in ids %}
            {# <h3>{{id}}</h3> #}
            <span id="{{id}}" class="plot-container"></span>
        {% endfor %}
    

    </div>
    </div>



<style type="text/css">
    body {
    background-color: #cfd8dc !important;
    }
    h1{
        margin-bottom: 2em;
    }
    .dashboard {
    width: 100%;     
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;

    }
    .plot-container {
        background-color: #fff;
        /*border: .5px solid darkgray;*/

    }
</style>
<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    var ids = {{ids | safe}};
    for(var i in graphs) {
    Plotly.plot(ids[i], // the ID of the div, created above
    graphs[i].data,
    graphs[i].layout || {grid: {rows: 1, columns: 2, pattern: 'independent'},});
}
</script>



{% endblock %}