{% extends 'base.html' %}

{% block additional_js_top %}
    <link  type= "text/css" href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

{% endblock %}
{% block additional_js_bottom %}
    
{% endblock %}
{% block container %}
</br> 
<div id="loader" class="loader"></div>
<table class="stripe" style="font-size:.8em;width:100%" id="status"></table> 
<div id='sample_id_timeline'>{{sample_id}} </div>
<div id="visualization"></div>

</br>
</br>
<!-- <div id='sample_id_timeline'> Sample 5c8944c18798cecd7e4fb8dc </div> -->
<!-- <div id="visualization"></div> -->

</br>
</br>
</br>

</br>
</br>
</br>

<style type="text/css">
    .jsgrid-cell {     
    word-wrap: break-word;
}
    .handsontable .htDimmed {
        color: black !important;
    }
</style>
<script>
$(function() {

   $(document).ready( function () {
    $('#status').DataTable({ 
            "data": {{data|safe}},
            "columns": {{columnHeaders|safe}},
            'pageLength': 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]]
        });

    var container = document.getElementById('visualization');
    // Create a DataSet (allows two way data-binding)
    // var vis_data = [];
    // for (item in {{data|safe}}){
    //     console.log({{item|safe}})
        // var i;
        // vis_data.push({id:i['id'], content:i['state'], start:i['date']})
        // console.log(vis_data)
        // console.log(i)

    // };
    var timeline_sample= new vis.DataSet({{vis_data|safe}});
    // Configuration for the Timeline
    var options = {};
    // Create a Timeline
    var timeline = new vis.Timeline(container, timeline_sample, options);
    
    $(function() {
    $(".sample_id").click(function(){
    $("#sample_id_timeline").text('Sample ' + $(this).text());
    })
    });
    });


});
  
</script>
{% endblock %}