{% extends 'base.html' %}

{% block additional_js_top %}
{% endblock %}
{% block additional_js_bottom %}
    
{% endblock %}
{% block container %}
<div class="row">
<div class="col-6">
 <div id="distinct-states">
    {{states|length}} Available States: 
    <ul>
    {% for state in states %}
        <li> {{state|safe}}</li>
    {% endfor %}
    </ul>

 </div>
</div>
</div>
</br> 
<div id="loader" class="loader"></div>
<table class="stripe" style="font-size:.8em;width:100%" id="status"></table> 

</br>
</br>
<!-- <div id='sample_id_timeline'> Sample 5c8944c18798cecd7e4fb8dc </div> -->
<!-- <div id="visualization"></div> -->

</br>
</br>
</br>

</br>
</br>
</br>

<style type="text/css">
    .jsgrid-cell {     
    word-wrap: break-word;
}

.handsontable .htDimmed {
    color: black !important;
}
#distinct-states{
    text-align: justify;
}
ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
.loader {
    border: 6px solid  #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<script>
$(function() {

   $(document).ready( function () {
    $('#status').DataTable({ 
            "data": {{data|safe}},
            "columns": {{columnHeaders|safe}},
            'pageLength': 15,
            "lengthMenu": [[15, 25, 50, -1], [15, 25, 50, "All"]]
        });

  
    });

  
});
  
</script>
{% endblock %}