{% extends 'base.html' %}

{% block additional_js_top %}
    <link  type= "text/css" href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">

{% endblock %}
{% block additional_js_bottom %}
    
{% endblock %}
{% block container %}
 <!-- <div id="samples"></div> -->
<div id="sample_ids"></div> 
</br>
</br>
</br>
<!-- <div id='sample_id_timeline'> Sample 5c8944c18798cecd7e4fb8dc </div> -->
<!-- <div id="visualization"></div> -->

</br>
</br>
</br>

</br>
</br>
</br>

<style type="text/css">
    .jsgrid-cell {     
    word-wrap: break-word;
}
    .handsontable .htDimmed {
        color: black !important;
    }
</style>
<script>
$(function() {

   
  
    var hotContainer = document.getElementById('sample_ids');
    
    new Handsontable(hotContainer, {
      data: {{data|default('', true)|safe}},
      colHeaders: {{columnHeaders|safe}},
      columnSorting: true,
      licenseKey: 'non-commercial-and-evaluation',
      readOnly: true

    });
    });
   
    </script>
{% endblock %}